#cookie-prompt {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 99999;
	bottom: 0;
	padding: 12px 0;
}
.cookiealert {
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 5px 0;
	font: 12px/18px Arial, Helvetica, sans-serif;
	span.cookie-title {
		display: block;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		margin: 0.4em 0 0;
	}
	a {
		color: #f90;
		text-decoration: underline;
	}
	a.cookieBtn {
		background-color: #fff;
		padding: 10px 15px;
		border-radius: 50px;
		text-decoration: none;
		color: #000;
		display: table;
		font-weight: 600;
		&:hover {
			background-color: #1c3b50;
			padding: 10px 15px;
			border-radius: 50px;
			text-decoration: none;
			color: #fff;
			display: table;
		}
	}
	.container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		position: relative;
		p {
			line-height: 15px;
			margin: 0;
			font-size: 12px;
		}
	}
}
span.cookieCloseBtn {
	position: absolute;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: rgba(255,255,255,0.2);
	align-items: center;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
	border-radius: 50%;
    cursor: pointer;
}
@media (max-width:991px) {
	span.cookieCloseBtn {
		right: 30px;
	}
}
@media (max-width:767px) {
	.cookiealert {
		.container {
			flex-direction: column;
			p {
				padding-right: 30px;
				text-align: justify;
			}
			p.accept {
				padding-right: 0px;
			}
		}
		a.cookieBtn {
			margin-top: 15px;
		}
	}
}
