.feedback {
    img {
        max-width: 60%;
        margin: 0 0 0 20%;
    }

    .blankSpace {
        h2 {
            text-align: center;
            margin-bottom: 10px;
            text-transform: inherit!important;
 
            
            
        }

        .error-details {
            text-align: center;
            padding: 20px;
        }

        p {
            padding-bottom: 15px !important;
            text-align: center;
        }
    }

}