@font-face {
    font-family: 'open_sanslight';
    src: url('../../assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'century_gothicregular';
    src: url('../../assets/fonts/gothic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../../assets/fonts/CenturyGothic-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../../assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}